In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Dimensionality Reduction

In [2]:
mydata = pd.read_csv('02 Variable Created.csv')

In [3]:
mydata.head()

,FULLVAL/lotarea_by_all,FULLVAL/lotarea_by_zip3,FULLVAL/lotarea_by_zip5,FULLVAL/lotarea_by_TAXCLASS,FULLVAL/lotarea_by_B,FULLVAL/bldarea_by_all,FULLVAL/bldarea_by_zip3,FULLVAL/bldarea_by_zip5,FULLVAL/bldarea_by_TAXCLASS,FULLVAL/bldarea_by_B,...,AVTOT/bldarea_by_all,AVTOT/bldarea_by_zip3,AVTOT/bldarea_by_zip5,AVTOT/bldarea_by_TAXCLASS,AVTOT/bldarea_by_B,AVTOT/bldvol_by_all,AVTOT/bldvol_by_zip3,AVTOT/bldvol_by_zip5,AVTOT/bldvol_by_TAXCLASS,AVTOT/bldvol_by_B
0,0.189636,0.106273,0.073098,0.157883,0.108772,2.264861,2.325715,2.989948,1.511585,2.376145,...,7.478986,3.751778,3.168741,1.351781,3.859687,0.332682,0.328308,0.217844,0.051882,0.343374
1,950.453907,532.641054,366.366609,791.305140,545.165506,20.510752,21.061847,27.077194,13.689028,21.518544,...,67.730253,33.976380,28.696353,12.241829,34.953611,3.012797,2.973178,1.972814,0.469848,3.109620
2,1.213312,0.679948,0.467689,1.010149,0.695937,0.420594,0.431895,0.555245,0.280707,0.441260,...,1.388878,0.696720,0.588448,0.251031,0.716759,1.029674,1.016134,0.674243,0.160578,1.062765
3,0.415786,0.233010,0.160271,0.346165,0.238489,1.344668,1.380797,1.775159,0.897441,1.410738,...,4.440340,2.227464,1.881309,0.802564,2.291530,4.937912,4.872978,3.233402,0.770071,5.096604
4,3.100871,1.737750,1.195277,2.581645,1.778611,86.234763,88.551765,113.842501,57.553718,90.471890,...,284.762946,142.849221,120.650042,51.469161,146.957861,633.345401,625.016840,414.721844,98.770624,653.699402

In [4]:
# Z scale before PCA
columns = mydata.columns
for column in columns:
    mydata[column] = (mydata[column]-mydata[column].mean())/mydata[column].std()

In [5]:
mydata.head()

,FULLVAL/lotarea_by_all,FULLVAL/lotarea_by_zip3,FULLVAL/lotarea_by_zip5,FULLVAL/lotarea_by_TAXCLASS,FULLVAL/lotarea_by_B,FULLVAL/bldarea_by_all,FULLVAL/bldarea_by_zip3,FULLVAL/bldarea_by_zip5,FULLVAL/bldarea_by_TAXCLASS,FULLVAL/bldarea_by_B,...,AVTOT/bldarea_by_all,AVTOT/bldarea_by_zip3,AVTOT/bldarea_by_zip5,AVTOT/bldarea_by_TAXCLASS,AVTOT/bldarea_by_B,AVTOT/bldvol_by_all,AVTOT/bldvol_by_zip3,AVTOT/bldvol_by_zip5,AVTOT/bldvol_by_TAXCLASS,AVTOT/bldvol_by_B
0,-0.082749,-0.079697,-0.121990,-0.095234,-0.072184,0.075345,0.085104,0.188848,0.025313,0.084701,...,0.081266,0.034366,0.107833,0.015242,0.035759,-0.007020,-0.007112,-0.035366,-0.013000,-0.007089
1,96.952127,47.408648,48.086173,89.374226,44.074086,1.162206,1.287867,2.474745,0.627854,1.262900,...,0.836998,0.411831,1.377106,0.487096,0.424576,0.021175,0.020891,0.043987,-0.007269,0.022776
2,0.021782,-0.028540,-0.070058,0.001148,-0.024627,-0.034514,-0.036469,-0.042208,-0.035591,-0.034390,...,0.004878,-0.003788,-0.020463,-0.032452,-0.003542,0.000312,0.000171,-0.014729,-0.011510,0.000678
3,-0.059656,-0.068396,-0.110517,-0.073941,-0.061678,0.020531,0.024445,0.073563,-0.005075,0.025281,...,0.043152,0.015329,0.043820,-0.008555,0.016150,0.041427,0.041006,0.100986,-0.003153,0.044228
4,0.214527,0.065788,0.025701,0.178866,0.063063,5.077219,5.620373,10.708837,2.798283,5.506922,...,3.559243,1.771508,5.949187,2.186771,1.825142,6.652294,6.606837,18.706867,1.340557,7.046778

In [6]:
# Performing PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=15)
PCAdf = pca.fit_transform(mydata.iloc[:, 1:])
PCAdf = pd.DataFrame(data=PCAdf)

In [7]:
PCAscore = pca.explained_variance_ratio_
PCAscore
# Keep the first five PCs, which explain roughly 90% of the variance

array([0.51382713, 0.27458372, 0.07653615, 0.04271944, 0.03354459,
       0.01815771, 0.01597509, 0.00613335, 0.00455208, 0.0028825 ,
       0.00208033, 0.00188401, 0.00155606, 0.00104996, 0.00073684])

In [8]:
PCAdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.061359,-0.207337,-0.052157,-0.002739,0.208795,0.038899,-0.139186,0.047869,-0.021215,-0.110247,-0.001341,0.067507,-0.050958,-0.045293,-0.022175
1,36.537404,140.268900,13.310606,4.788845,17.038944,-20.286458,61.002428,-4.139963,-12.455463,-14.857196,-29.200354,-44.595658,-4.122981,-47.078907,-5.070341
2,-0.051810,0.067200,-0.031877,0.050090,-0.047470,0.023416,-0.086913,-0.000761,-0.075650,-0.018682,-0.011628,-0.032560,0.011453,-0.084684,-0.012103
3,0.200309,-0.176458,-0.070989,-0.084604,-0.046481,-0.073678,-0.121973,-0.062434,-0.091816,0.010886,-0.041092,0.056224,0.014090,-0.054435,-0.011122
4,40.520009,-9.581381,-3.963899,-19.403779,-8.099993,-16.654040,-0.924910,-12.968816,-4.956076,7.514286,-7.069802,4.680045,2.486248,-1.011546,-1.511375

In [9]:
# Z-scale again after PCA
from sklearn.preprocessing import StandardScaler
PCAdf = pd.DataFrame(StandardScaler().fit_transform(PCAdf)).iloc[:,0:5]

In [10]:
PCAdf.head()

          0          1         2          3          4
0  0.012905  -0.059650 -0.028422  -0.001997   0.171863
1  7.684278  40.355047  7.253346   3.492946  14.025078
2 -0.010896   0.019333 -0.017371   0.036535  -0.039073
3  0.042127  -0.050766 -0.038684  -0.061710  -0.038259
4  8.521870  -2.756542 -2.160047 -14.152964  -6.667257

In [11]:
PCAdf.to_csv('03 PCA.csv', index=False)

### Fraud score one calculation - Heuristic use of Z scores

In [12]:
PCAdf['Score1'] = (PCAdf[0]**2 + PCAdf[1]**2 + PCAdf[2]**2 + PCAdf[3]**2 + PCAdf[4]**2)**0.5

In [13]:
PCAdf.head()

          0          1         2          3          4     Score1
0  0.012905  -0.059650 -0.028422  -0.001997   0.171863   0.184590
1  7.684278  40.355047  7.253346   3.492946  14.025078  44.148527
2 -0.010896   0.019333 -0.017371   0.036535  -0.039073   0.060463
3  0.042127  -0.050766 -0.038684  -0.061710  -0.038259   0.105453
4  8.521870  -2.756542 -2.160047 -14.152964  -6.667257  18.156137

## Fraud score 2nd calculation - Autoencoder

In [14]:
pip install --upgrade tensorflow

Requirement already up-to-date: tensorflow in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied, skipping upgrade: keras-applications>=1.0.8 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.0.8)
Requirement already satisfied, skipping upgrade: six>=1.12.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.12.0)
Requirement already satisfied, skipping upgrade: grpcio>=1.8.6 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.27.1)
Requirement already satisfied, skipping upgrade: keras-preprocessing>=1.1.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.16.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.17.2)
Requirement already satisfied, skipping upgrade: absl-py>=0.7.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.9.0)
Requirement already satisfied, skipping upgrade: gast==0.2.2 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.2.2)
Requirement already satisfied, skipping upgrade: termcolor>=1.1.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied, skipping upgrade: astor>=0.6.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.8.1)
Requirement already satisfied, skipping upgrade: tensorflow-estimator<2.2.0,>=2.1.0rc0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied, skipping upgrade: scipy==1.4.1; python_version >= "3" in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.4.1)
Requirement already satisfied, skipping upgrade: wrapt>=1.11.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.11.2)
Requirement already satisfied, skipping upgrade: opt-einsum>=2.3.2 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.1.0)
Requirement already satisfied, skipping upgrade: protobuf>=3.8.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.11.3)
Requirement already satisfied, skipping upgrade: google-pasta>=0.1.6 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.1.8)
Requirement already satisfied, skipping upgrade: wheel>=0.26; python_version >= "3" in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.33.6)
Requirement already satisfied, skipping upgrade: tensorboard<2.2.0,>=2.1.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied, skipping upgrade: h5py in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from keras-applications>=1.0.8->tensorflow) (2.9.0)
Requirement already satisfied, skipping upgrade: setuptools in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.8.0->tensorflow) (41.4.0)
Requirement already satisfied, skipping upgrade: markdown>=2.6.8 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (3.2)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib<0.5,>=0.4.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (0.4.1)
Requirement already satisfied, skipping upgrade: werkzeug>=0.11.15 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (0.16.0)
Requirement already satisfied, skipping upgrade: google-auth<2,>=1.6.3 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (1.11.0)
Requirement already satisfied, skipping upgrade: requests<3,>=2.21.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (2.22.0)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow) (1.3.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (0.2.8)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (4.0.0)
Requirement already satisfied, skipping upgrade: rsa<4.1,>=3.1.4 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (4.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (1.24.2)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (2019.9.11)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow) (3.1.0)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (0.4.8)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from scipy import stats
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_recall_curve
from sklearn.metrics import recall_score, classification_report, auc, roc_curve
from sklearn.metrics import precision_recall_fscore_support, f1_score
from sklearn.preprocessing import StandardScaler
from pylab import rcParams
# from keras.models import Model, load_model
# from keras.layers import Input, Dense
# from keras.callbacks import ModelCheckpoint, TensorBoard
# from keras import regularizers
from tensorflow.keras.models import Model, load_model,Sequential
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.callbacks import ModelCheckpoint, TensorBoard
from tensorflow.keras import regularizers

In [16]:
put_dim = PCAdf.shape[1]-1
put_dim

5

In [17]:
ATC = PCAdf.iloc[:,:-1]
ATC

                0          1         2          3          4
0        0.012905  -0.059650 -0.028422  -0.001997   0.171863
1        7.684278  40.355047  7.253346   3.492946  14.025078
2       -0.010896   0.019333 -0.017371   0.036535  -0.039073
3        0.042127  -0.050766 -0.038684  -0.061710  -0.038259
4        8.521870  -2.756542 -2.160047 -14.152964  -6.667257
...           ...        ...       ...        ...        ...
1070989 -0.022405  -0.037252 -0.003882   0.021278  -0.013713
1070990 -0.024467  -0.046061 -0.007257   0.004789  -0.010987
1070991 -0.020435  -0.047112 -0.003320   0.008921  -0.016556
1070992 -0.013161  -0.038271  0.002016  -0.008179   0.002967
1070993 -0.015120  -0.023530  0.001978   0.008520  -0.005826

[1070994 rows x 5 columns]

In [18]:
input_dim = ATC.shape[1] #num of columns
encoding_dim = 3
# hidden_dim = int(encoding_dim / 2) 
learning_rate = 10e-5

input_layer = Input(shape=(input_dim, ))
encoder = Dense(encoding_dim, activation="tanh", activity_regularizer=regularizers.l1(learning_rate))(input_layer)
# encoder = Dense(hidden_dim, activation="relu")(encoder)
# decoder = Dense(hidden_dim, activation='tanh')(encoder)
decoder = Dense(input_dim, activation='relu')(encoder)
autoencoder = Model(inputs=input_layer, outputs=decoder)

In [19]:
nb_epoch = 1
autoencoder.compile(metrics=['accuracy'],
                    loss='mean_squared_error',
                    optimizer='adam')

cp = ModelCheckpoint(filepath="autoencoder_fraud.h5",
                               save_best_only=True,
                               verbose=0)

tb = TensorBoard(log_dir='./logs',
                histogram_freq=0,
                write_graph=True,
                write_images=True)

history = autoencoder.fit(ATC, ATC,
                    epochs=nb_epoch,
#                     batch_size=batch_size,
                    shuffle=True,
#                     validation_data=(test_x, test_x),
                    verbose=1,
                    callbacks=[cp, tb]).history

Train on 1070994 samples
1070592/1070994 [============================>.] - ETA: 0s - loss: 0.9872 - accuracy: 0.1811WARNING:tensorflow:Can save best model only with val_loss available, skipping.
1070994/1070994 [==============================] - 46s 43us/sample - loss: 0.9868 - accuracy: 0.1811

In [20]:
predictions = autoencoder.predict(ATC)
predictions

array([[0.        , 0.        , 0.        , 0.        , 0.14456743],
       [1.436075  , 3.2033558 , 0.68275374, 0.        , 2.6261344 ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       ...,
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ]],
      dtype=float32)

In [21]:
autoencoded_data = pd.DataFrame(predictions)
autoencoded_data.columns = ['ACT-0','ACT-1','ACT-2','ACT-3','ACT-4']
autoencoded_data

            ACT-0     ACT-1     ACT-2  ACT-3     ACT-4
0        0.000000  0.000000  0.000000    0.0  0.144567
1        1.436075  3.203356  0.682754    0.0  2.626134
2        0.000000  0.000000  0.000000    0.0  0.000000
3        0.000000  0.000000  0.000000    0.0  0.000000
4        3.963911  0.000000  0.000000    0.0  0.000000
...           ...       ...       ...    ...       ...
1070989  0.000000  0.000000  0.000000    0.0  0.000000
1070990  0.000000  0.000000  0.000000    0.0  0.000000
1070991  0.000000  0.000000  0.000000    0.0  0.000000
1070992  0.000000  0.000000  0.000000    0.0  0.000000
1070993  0.000000  0.000000  0.000000    0.0  0.000000

[1070994 rows x 5 columns]

In [22]:
## Calculate Diff:
for i in range(5):
    ATC['diff'+str(i)] = ATC.iloc[:,i]-autoencoded_data.iloc[:,i]

In [23]:
ATC

,0,1,2,3,4,diff0,diff1,diff2,diff3,diff4
0,0.012905,-0.059650,-0.028422,-0.001997,0.171863,0.012905,-0.059650,-0.028422,-0.001997,0.027296
1,7.684278,40.355047,7.253346,3.492946,14.025078,6.248203,37.151691,6.570592,3.492946,11.398943
2,-0.010896,0.019333,-0.017371,0.036535,-0.039073,-0.010896,0.019333,-0.017371,0.036535,-0.039073
3,0.042127,-0.050766,-0.038684,-0.061710,-0.038259,0.042127,-0.050766,-0.038684,-0.061710,-0.038259
4,8.521870,-2.756542,-2.160047,-14.152964,-6.667257,4.557958,-2.756542,-2.160047,-14.152964,-6.667257
...,...,...,...,...,...,...,...,...,...,...
1070989,-0.022405,-0.037252,-0.003882,0.021278,-0.013713,-0.022405,-0.037252,-0.003882,0.021278,-0.013713
1070990,-0.024467,-0.046061,-0.007257,0.004789,-0.010987,-0.024467,-0.046061,-0.007257,0.004789,-0.010987
1070991,-0.020435,-0.047112,-0.003320,0.008921,-0.016556,-0.020435,-0.047112,-0.003320,0.008921,-0.016556
1070992,-0.013161,-0.038271,0.002016,-0.008179,0.002967,-0.013161,-0.038271,0.002016,-0.008179,0.002967
1070993,-0.015120,-0.023530,0.001978,0.008520,-0.005826,-0.015120,-0.023530,0.001978,0.008520,-0.005826

In [24]:
score = (ATC['diff0']**2 + ATC['diff1']**2 +ATC['diff2']**2 \
        +ATC['diff3']**2 +ATC['diff4']**2 )**(1/2)

In [25]:
score

0           0.072674
1          40.057427
2           0.060463
3           0.105453
4          16.667274
             ...
1070989     0.050454
1070990     0.054005
1070991     0.054789
1070992     0.041444
1070993     0.029879
Length: 1070994, dtype: float64

In [26]:
PCAdf['Score2'] = score

In [27]:
PCAdf.head()

          0          1         2          3          4     Score1     Score2
0  0.012905  -0.059650 -0.028422  -0.001997   0.171863   0.184590   0.072674
1  7.684278  40.355047  7.253346   3.492946  14.025078  44.148527  40.057427
2 -0.010896   0.019333 -0.017371   0.036535  -0.039073   0.060463   0.060463
3  0.042127  -0.050766 -0.038684  -0.061710  -0.038259   0.105453   0.105453
4  8.521870  -2.756542 -2.160047 -14.152964  -6.667257  18.156137  16.667274

## Quantile binning & rank ordering

In [118]:
PCAdf['Rank_score1'] = pd.qcut(PCAdf['Score1'],q=100,labels=False)
PCAdf['Rank_score2'] = pd.qcut(PCAdf['Score2'],q=100,labels=False)

In [119]:
PCAdf

,0,1,2,3,4,Score1,Score2,Rank_score1,Rank_score2,Avg_rank
718071,3.496833,2.822237,-0.279261,-3.008066,3.827621,6.630988,4.168849,99,99,99.0
964947,26.081650,-9.076252,-11.934763,-17.331160,-7.123220,35.442612,32.636069,99,99,99.0
88520,2.121047,2.930976,0.313858,-1.254943,6.083013,7.194852,3.676933,99,99,99.0
168407,2.411584,-0.894418,-0.948783,-2.575404,-1.576218,4.078367,3.348836,99,99,99.0
684703,1.650940,10.118532,2.460885,1.357599,5.134099,11.805435,7.692030,99,99,99.0
...,...,...,...,...,...,...,...,...,...,...
1024407,-0.003392,0.003222,0.002091,-0.003930,0.000698,0.006496,0.007176,0,0,0.0
1054849,-0.004214,0.002105,0.002290,-0.000913,-0.000354,0.005329,0.006576,0,0,0.0
1054848,-0.004214,0.002105,0.002290,-0.000913,-0.000354,0.005329,0.006576,0,0,0.0
1021922,-0.005027,0.001407,0.002666,-0.000935,0.000995,0.006019,0.007047,0,0,0.0
1040984,-0.005394,-0.000404,0.001868,-0.003910,0.000900,0.006989,0.007354,0,0,0.0

In [120]:
PCAdf['Avg_rank']=PCAdf[['Rank_score1', 'Rank_score2']].mean(axis=1)

In [121]:
PCAdf

,0,1,2,3,4,Score1,Score2,Rank_score1,Rank_score2,Avg_rank
718071,3.496833,2.822237,-0.279261,-3.008066,3.827621,6.630988,4.168849,99,99,99.0
964947,26.081650,-9.076252,-11.934763,-17.331160,-7.123220,35.442612,32.636069,99,99,99.0
88520,2.121047,2.930976,0.313858,-1.254943,6.083013,7.194852,3.676933,99,99,99.0
168407,2.411584,-0.894418,-0.948783,-2.575404,-1.576218,4.078367,3.348836,99,99,99.0
684703,1.650940,10.118532,2.460885,1.357599,5.134099,11.805435,7.692030,99,99,99.0
...,...,...,...,...,...,...,...,...,...,...
1024407,-0.003392,0.003222,0.002091,-0.003930,0.000698,0.006496,0.007176,0,0,0.0
1054849,-0.004214,0.002105,0.002290,-0.000913,-0.000354,0.005329,0.006576,0,0,0.0
1054848,-0.004214,0.002105,0.002290,-0.000913,-0.000354,0.005329,0.006576,0,0,0.0
1021922,-0.005027,0.001407,0.002666,-0.000935,0.000995,0.006019,0.007047,0,0,0.0
1040984,-0.005394,-0.000404,0.001868,-0.003910,0.000900,0.006989,0.007354,0,0,0.0

In [122]:
PCAdf.sort_values(by=['Avg_rank'],ascending=False,inplace=True)

In [125]:
Top10=PCAdf.head(10)

In [126]:
Top10

,0,1,2,3,4,Score1,Score2,Rank_score1,Rank_score2,Avg_rank
718071,3.496833,2.822237,-0.279261,-3.008066,3.827621,6.630988,4.168849,99,99,99.0
100185,0.255342,0.543413,0.268769,-0.407272,0.828040,1.133249,0.485501,99,99,99.0
114037,0.225088,0.326763,0.224041,-0.501487,0.720715,0.989218,0.551771,99,99,99.0
963077,0.175909,0.757325,-0.084618,0.000846,-0.291655,0.834690,0.703919,99,99,99.0
100935,0.245083,0.308997,0.218930,-0.567058,0.581195,0.928880,0.625215,99,99,99.0
38564,0.413040,0.470707,-0.023198,-0.439028,-0.331913,0.834036,0.746921,99,99,99.0
102289,0.231784,0.358824,0.224028,-0.484716,0.682133,0.965879,0.540679,99,99,99.0
99112,0.275737,0.457617,0.207433,-0.486526,0.597662,0.960406,0.570172,99,99,99.0
100993,0.305465,0.889036,0.398390,0.150263,0.966616,1.413978,0.398637,99,99,99.0
99101,0.334150,0.992359,0.424988,0.178705,0.942676,1.482438,0.377683,99,99,99.0

In [127]:
Top10_record = list(Top10.index.values)

In [128]:
Top10_record

[718071, 100185, 114037, 963077, 100935, 38564, 102289, 99112, 100993, 99101]

In [129]:
mydata.iloc[Top10_record,:]

,FULLVAL/lotarea_by_all,FULLVAL/lotarea_by_zip3,FULLVAL/lotarea_by_zip5,FULLVAL/lotarea_by_TAXCLASS,FULLVAL/lotarea_by_B,FULLVAL/bldarea_by_all,FULLVAL/bldarea_by_zip3,FULLVAL/bldarea_by_zip5,FULLVAL/bldarea_by_TAXCLASS,FULLVAL/bldarea_by_B,...,AVTOT/bldarea_by_all,AVTOT/bldarea_by_zip3,AVTOT/bldarea_by_zip5,AVTOT/bldarea_by_TAXCLASS,AVTOT/bldarea_by_B,AVTOT/bldvol_by_all,AVTOT/bldvol_by_zip3,AVTOT/bldvol_by_zip5,AVTOT/bldvol_by_TAXCLASS,AVTOT/bldvol_by_B
718071,4.262389,3.903186,7.564094,3.911132,4.119933,3.277195,3.106004,6.693253,1.800375,3.081297,...,2.307623,2.221755,10.276201,1.405303,2.127437,2.153501,1.535331,10.483128,0.426143,1.852119
100185,1.939969,0.910210,0.818877,2.007335,0.848057,0.469846,0.521675,0.585984,0.337860,0.512355,...,0.023098,0.005313,0.029560,0.295158,0.005832,0.002777,0.002619,0.029137,0.029865,0.003288
114037,1.473074,0.681714,0.603772,1.522528,0.635642,0.590231,0.654897,0.281405,0.425938,0.642857,...,0.018633,0.003083,-0.031651,0.252758,0.003535,0.004019,0.003852,-0.022977,0.033936,0.004604
963077,0.302780,0.498824,0.792936,0.260237,0.453065,-0.027248,-0.026144,-0.049617,-0.031563,-0.025067,...,0.009930,0.023406,0.001561,-0.029298,0.023436,0.010440,0.014244,0.028383,-0.009451,0.014525
100935,1.312910,0.603331,0.525528,1.356220,0.562775,0.460689,0.511541,0.469933,0.331160,0.502428,...,0.018430,0.002981,0.004832,0.250826,0.003431,0.008739,0.008540,0.076063,0.049404,0.009604
38564,0.914887,0.408541,0.346881,0.824621,0.381693,0.136739,0.153045,0.156091,0.059349,0.151254,...,0.123956,0.055688,0.105958,0.041896,0.057723,0.244105,0.242302,0.809145,0.038043,0.258914
102289,1.434564,0.662867,0.583636,1.482541,0.618121,0.458335,0.508936,0.571179,0.329438,0.499876,...,0.017627,0.002580,0.017391,0.243203,0.003018,0.003550,0.003386,0.033460,0.032399,0.004107
99112,2.551810,1.209642,1.100875,1.041135,1.126416,0.477099,0.529701,0.487749,0.312057,0.520218,...,0.056043,0.021768,0.071082,0.133149,0.022782,0.021465,0.021180,0.156204,0.042958,0.023084
100993,1.263292,0.579048,0.502486,3.261879,0.540201,0.247218,0.275306,0.238172,0.803576,0.271018,...,0.200776,0.094057,0.326005,0.703674,0.097246,0.009376,0.009173,0.080077,0.041539,0.010279
99101,1.237221,0.566289,0.490378,3.197438,0.528340,0.234819,0.261584,0.224709,0.769098,0.257577,...,0.192154,0.089751,0.310819,0.673482,0.092810,0.008572,0.008374,0.075013,0.039306,0.009427

In [130]:
rawdata = pd.read_csv('Filled Dataset.csv')

In [131]:
rawdata.columns

Index(['Unnamed: 0', 'RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT',
       'OWNER', 'BLDGCL', 'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES',
       'FULLVAL', 'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR',
       'ZIP', 'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2',
       'EXLAND2', 'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE',
       'Group_Zip_B_TAX'],
      dtype='object')

In [132]:
rawdata.iloc[Top10_record,]

,Unnamed: 0,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,...,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,Group_Zip_B_TAX
718071,718071,718072,4050661202,4,5066,1202,NaN,NaN,R5,4,...,46.0,1187681.0,15964238.0,NaN,14776299.0,NaN,FINAL,2010/11,AC-TR,11354.044
100185,100185,100186,1013980049,1,1398,49,NaN,"FAILLACE, ANTHONY LOU",A4,1,...,78.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10065.011
114037,114037,114038,1015290006,1,1529,6,NaN,"LERCH, ROBERT",A4,1,...,50.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10028.011
963077,963077,963078,5008390121E,5,839,121,E,NaN,Z7,4,...,38.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10301.054
100935,100935,100936,1014050047,1,1405,47,NaN,"DORRIAN, CAROL A",C0,1,...,55.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10021.011
38564,38564,38565,1007840007,1,784,7,NaN,"265 WEST 34TH STREET,",K1,4,...,78.0,730800.0,1347300.0,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10001.014
102289,102289,102290,1014150043,1,1415,43,NaN,100 AKER WOOD LLC,A7,1,...,60.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10065.011
99112,99112,99113,1013890024,1,1389,24,NaN,WHITNEY MUSEUM OF AME,S9,2B,...,75.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10021.012B
100993,100993,100994,1014060001,1,1406,1,NaN,PEMBROKE OWNERS INC,D6,2,...,126.0,4910400.0,13194000.0,NaN,NaN,NaN,FINAL,2010/11,AC-TR,10021.012
99101,99101,99102,1013890001,1,1389,1,NaN,930 FIFTH CORP,D4,2,...,138.0,7065000.0,16842000.0,278102.0,278102.0,1017.0,FINAL,2010/11,AC-TR,10021.012

In [133]:
rawdata.iloc[Top10_record,20]

718071    40-22 COLLEGE POINT BLVD
100185          164 EAST 64 STREET
114037          209 EAST 83 STREET
963077              OCEANVIEW LANE
100935          156 EAST 71 STREET
38564           265 WEST 34 STREET
102289          210 EAST 61 STREET
99112           933 MADISON AVENUE
100993             737 PARK AVENUE
99101                 930 5 AVENUE
Name: STADDR, dtype: object